app/src/main/SCA API - Interface for Smartphone v1.4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 rel. 3 sp1 (http://www.altova.com) by Jacquie (ACT) -->
<!-- editado con XMLSpy v2012 rel. 2 sp1 (http://www.altova.com/es) por INDRA (private) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation>Version inicial</xs:documentation>
	</xs:annotation>
	<xs:element name="SCA">
		<xs:annotation>
			<xs:documentation>v1.0 20131025
v1.1 20131030
v1.2 20131104 add XML-010
v1.3 20131106 add node CPE XML-001
v1.4 20131112 XML-001 add CPEModel. XML-005 add GPSType
v1.5 20131118 add Service</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Operation" type="OperationType">
					<xs:annotation>
						<xs:documentation>Datos comunes a todas las operaciones. Se informan tanto a la entrada como a la salida</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Service">
					<xs:complexType>
						<xs:choice>
							<xs:element name="Customer">
								<xs:annotation>
									<xs:documentation>XML-001 Identificación Cliente </xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:choice>
										<xs:element name="Input">
											<xs:annotation>
												<xs:documentation>Móvil->SC</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Phone" type="xs:string">
														<xs:annotation>
															<xs:documentation>Telefono de red fija de cliente a certificar. p.e, "26253744" para area "2"</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Output">
											<xs:annotation>
												<xs:documentation>SC->Móvil</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="CPE" minOccurs="0">
														<xs:complexType>
															<xs:sequence maxOccurs="unbounded">
																<xs:element name="CPEType" type="xs:string">
																	<xs:annotation>
																		<xs:documentation>Tipo de equipo que actualmente tiene el cliente (CPE). Valores posibes: "MODEM", "DECO"</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="VendorName">
																	<xs:annotation>
																		<xs:documentation>Fabricante del CPE actual de cliente</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="CPEModel" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Modelo del CPE actual de cliente</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Return" type="ReturnType"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:choice>
								</xs:complexType>
							</xs:element>
							<xs:element name="Vendor">
								<xs:annotation>
									<xs:documentation>XML-002 Lista de Fabricantes </xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:choice>
										<xs:element name="Input">
											<xs:annotation>
												<xs:documentation>Móvil->SC</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="CPEType" type="xs:string">
														<xs:annotation>
															<xs:documentation>Tipo de equipo cliente (CPE). Valores posibes: "MODEM", "DECO"</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Output">
											<xs:annotation>
												<xs:documentation>SC->Móvil</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Vendor" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Name" maxOccurs="unbounded">
																	<xs:annotation>
																		<xs:documentation>Llista con nombre de fabricantes</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Return" type="ReturnType"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:choice>
								</xs:complexType>
							</xs:element>
							<xs:element name="Model">
								<xs:annotation>
									<xs:documentation>XML-003 Lista de Modelos de equipo</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:choice>
										<xs:element name="Input">
											<xs:annotation>
												<xs:documentation>Móvil->SC</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="CPEType" type="xs:string">
														<xs:annotation>
															<xs:documentation>Tipo de equipo cliente (CPE). Valores posibes: "MODEM", "DECO"</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="VendorName">
														<xs:annotation>
															<xs:documentation>Nombre del fabricante (XML-002) del tipo de equipo</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Output">
											<xs:annotation>
												<xs:documentation>SC->Móvil</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Model" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Name" maxOccurs="unbounded"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Return" type="ReturnType"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:choice>
								</xs:complexType>
							</xs:element>
							<xs:element name="InventoryUpdate">
								<xs:annotation>
									<xs:documentation>XML-004 Actualizar Inventario </xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:choice>
										<xs:element name="Input">
											<xs:annotation>
												<xs:documentation>Móvil->SC</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Phone" type="xs:string">
														<xs:annotation>
															<xs:documentation>Telefono de red fija de cliente a certificar. p.e, "26253744" para area "2"</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="CPEType" type="xs:string">
														<xs:annotation>
															<xs:documentation>Tipo de equipo cliente (CPE). Valores posibes: "MODEM", "DECO"</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="CPEModel">
														<xs:annotation>
															<xs:documentation>Nombre del modelo de equipo (XML-003)</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Output">
											<xs:annotation>
												<xs:documentation>SC->Móvil</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Return" type="ReturnType"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:choice>
								</xs:complexType>
							</xs:element>
							<xs:element name="OutsidePlant">
								<xs:annotation>
									<xs:documentation>XML-005 Planta Externa</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:choice>
										<xs:element name="Input">
											<xs:annotation>
												<xs:documentation>Móvil->SC</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Phone" type="xs:string">
														<xs:annotation>
															<xs:documentation>Telefono de red fija de cliente a certificar. p.e, "26253744" para area "2"</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="Type" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Flag que dependiendo de lo que indique se debe responder con la lista de valores posibles en NewElement:
PLANTA
PAR EXTERNO
ARMARIO
PAR LOCAL
CAJA</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Output">
											<xs:annotation>
												<xs:documentation>SC->Móvil</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Element" type="ElementType" maxOccurs="unbounded"/>
													<xs:element name="NewElement" type="ElementType" minOccurs="0" maxOccurs="unbounded"/>
													<xs:element name="Return" type="ReturnType"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:choice>
								</xs:complexType>
							</xs:element>
							<xs:element name="OutsidePlantUpgrade">
								<xs:annotation>
									<xs:documentation>XML-006 Actualizar Planta Externa</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:choice>
										<xs:element name="Input">
											<xs:annotation>
												<xs:documentation>Móvil->SC</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Element" type="ElementPlusType"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Output">
											<xs:annotation>
												<xs:documentation>SC->Móvil</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Return" type="ReturnType"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:choice>
								</xs:complexType>
							</xs:element>
							<xs:element name="CertifyDSL">
								<xs:annotation>
									<xs:documentation>XML-007 Certificar Red Fija (xDSL)</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:choice>
										<xs:element name="Input">
											<xs:annotation>
												<xs:documentation>Móvil->SC</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Phone" type="xs:string">
														<xs:annotation>
															<xs:documentation>Telefono de red fija de cliente a certificar. p.e, "26253744" para area "2"</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="Type" type="xs:string">
														<xs:annotation>
															<xs:documentation>01 :  INSTALACION
02 :  REPARACION
03 :  PRUEBA</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="Value" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Output">
											<xs:annotation>
												<xs:documentation>SC->Móvil</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="CertifyParameter" type="DSLCertifyParameterType" minOccurs="0"/>
													<xs:element name="Return" type="ReturnType"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:choice>
								</xs:complexType>
							</xs:element>
							<xs:element name="Notification3g">
								<xs:annotation>
									<xs:documentation>XML-008 Informar 3G </xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:choice>
										<xs:element name="Input">
											<xs:annotation>
												<xs:documentation>Móvil->SC</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Gps" type="GPSType"/>
													<xs:element name="Provider" type="xs:string" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Proveedor 3G (movistar, claro...)</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="Parameter" type="MobilCertifyParameterType" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Output">
											<xs:annotation>
												<xs:documentation>SC->Móvil</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Return" type="ReturnType"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:choice>
								</xs:complexType>
							</xs:element>
							<xs:element name="Location">
								<xs:annotation>
									<xs:documentation>XML-009 Localizacion averia/incidencia</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:choice>
										<xs:element name="Input">
											<xs:annotation>
												<xs:documentation>Móvil->SC</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Element">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Type">
																	<xs:annotation>
																		<xs:documentation>CABLE
ARMARIO
CAJA
TABLERO</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="TypeDamege"/>
																<xs:element name="Gps" type="GPSType"/>
																<xs:element name="Picture" minOccurs="0"/>
																<xs:element name="Coment"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Output">
											<xs:annotation>
												<xs:documentation>SC->Móvil</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Return" type="ReturnType"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:choice>
								</xs:complexType>
							</xs:element>
							<xs:element name="NeighborNode">
								<xs:annotation>
									<xs:documentation>XML-010 Nodos de planta externa vecinos</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:choice>
										<xs:element name="Input">
											<xs:annotation>
												<xs:documentation>Móvil->SC</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Gps" type="GPSType"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Output">
											<xs:annotation>
												<xs:documentation>SC->Móvil</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Node" type="NodeType" minOccurs="0"/>
													<xs:element name="Return" type="ReturnType"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:choice>
								</xs:complexType>
							</xs:element>
							<xs:element name="Damage">
								<xs:annotation>
									<xs:documentation>XML-012 Lista de Averias</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:choice>
										<xs:element name="Input">
											<xs:annotation>
												<xs:documentation>Móvil->SC</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Type">
														<xs:annotation>
															<xs:documentation>CABLE
ARMARIO
CAJA
TABLERO</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Output">
											<xs:annotation>
												<xs:documentation>SC->Móvil</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="TypeDamage" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType/>
													</xs:element>
													<xs:element name="Return" type="ReturnType"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:choice>
								</xs:complexType>
							</xs:element>
							<xs:element name="Resource">
								<xs:annotation>
									<xs:documentation>XML-013 Lista de Recursos</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:choice>
										<xs:element name="Input">
											<xs:annotation>
												<xs:documentation>Móvil->SC</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Phone" type="xs:string">
														<xs:annotation>
															<xs:documentation>Telefono de red fija de cliente a certificar. p.e, "26253744" para area "2"</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Output">
											<xs:annotation>
												<xs:documentation>SC->Móvil</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Element" type="ElementType" maxOccurs="unbounded"/>
													<xs:element name="Return" type="ReturnType"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:choice>
								</xs:complexType>
							</xs:element>
							<xs:element name="ActionButton">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Input">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Phone"/>
													<xs:element name="Type"/>
													<xs:element name="Action">
														<xs:annotation>
															<xs:documentation>Codigo de la accion a realizar:
Codigo=Accion
ACTION101=Activar DECO.
ACTION102=Reset DECO.
ACTION103=Actualizar DECO/TARJETA.
ACTION201=Reset puerto DSLAM
</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Return">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Code" type="xs:string" default="0">
														<xs:annotation>
															<xs:documentation>Código de repuesta. Valor "0" en caso correcto. Distinto de "0" en caso de error</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="Description" type="xs:string" default="Realizado correctamente">
														<xs:annotation>
															<xs:documentation>Descripción del código de respuesta</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:choice>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="OperationType">
		<xs:annotation>
			<xs:documentation>Datos comunes a todas las primitivas y que se informan tanto a la entrada como a la salida</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OperationCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>XML-001 , XML-002, XML-003, XML-004, etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperationId" type="xs:string">
				<xs:annotation>
					<xs:documentation>Identificador de operacion (autinumerico).  Si se indica se retorna el mismo valor</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DateTime" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Fecha de envio del mensaje de peticion</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdUser" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identificador de usuario de aplicaicon. Solo aplica cuando este disponible la autenticacion de técnico terreno (login)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IMEI" type="xs:string">
				<xs:annotation>
					<xs:documentation>International Mobile Equipment Identity, Identidad Internacional de Equipo Móvil. Código USSD pre-grabado en los teléfonos móviles GSM. Este código identifica al aparato unívocamente a nivel mundial</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IMSI" type="xs:string">
				<xs:annotation>
					<xs:documentation>Es un código de identificación único para cada dispositivo de telefonía móvil, integrado en la tarjeta SIM, que permite su identificación a través de las redes GSM y UMTS.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReturnType">
		<xs:sequence>
			<xs:element name="Code" type="xs:string" default="0">
				<xs:annotation>
					<xs:documentation>Código de repuesta. Valor "0" en caso correcto. Distinto de "0" en caso de error</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="xs:string" default="Realizado correctamente">
				<xs:annotation>
					<xs:documentation>Descripción del código de respuesta</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ParameterType"/>
	<xs:complexType name="DSLCertifyParameterType">
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="Name"/>
			<xs:element name="Value"/>
			<xs:element name="Code"/>
			<xs:element name="Description"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MobilCertifyParameterType">
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="Name"/>
			<xs:element name="Value"/>
			<xs:element name="Code"/>
			<xs:element name="Description"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ElementType">
		<xs:sequence>
			<xs:element name="Id">
				<xs:annotation>
					<xs:documentation>Indentificador unico del elemento, uso interno</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Type" type="xs:string">
				<xs:annotation>
					<xs:documentation>Valores posibles:
PLANTA
CABLE
ARMARIO
PAR LOCAL
NODO (CAJA O TABLERO)
FAMILASERVICIOS</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Value">
				<xs:annotation>
					<xs:documentation>Valor de elemento</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Gps" type="GPSType" minOccurs="0"/>
			<xs:element name="Identification" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Parameters" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Attribute" type="xs:string"/>
									<xs:element name="Value"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SubElement" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Id"/>
						<xs:element name="Type">
							<xs:annotation>
								<xs:documentation>PAR LOCAL</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Head">
							<xs:annotation>
								<xs:documentation>0: Row
1: Cabecera Row</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Parameters" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Attribute">
										<xs:annotation>
											<xs:documentation>Siempre debe llevar el atributo ESTADO
valores Posibles:
0: Libre
1: Ocupado
2: Asignado (numero del Cliente)
3: Otros</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Value"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Buttons" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Action" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResourceElementType">
		<xs:sequence>
			<xs:element name="Atribute" type="xs:string">
				<xs:annotation>
					<xs:documentation>Valores posibles:
PLANTA
CABLE
ARMARIO
PAR LOCAL
CAJA</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Value">
				<xs:annotation>
					<xs:documentation>Valor de elemento</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Identification" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Parameters" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Attribute"/>
									<xs:element name="Value"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NodeType">
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="Id">
				<xs:annotation>
					<xs:documentation>Indentificador unico del elemento, uso interno</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Type" type="xs:string">
				<xs:annotation>
					<xs:documentation>Valores posibles:
ARMARIO
CAJA
TABLERO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Gps" type="GPSType">
				<xs:annotation>
					<xs:documentation>Georeferenciacion nodo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddressStreet" type="xs:string">
				<xs:annotation>
					<xs:documentation>Nombre de calle</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdressNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation>Altura</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddressCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>DICA</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Feasibility" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Factibilidad</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="Technology"/>
						<xs:element name="Speedy"/>
						<xs:element name="Port"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Site" type="xs:string">
				<xs:annotation>
					<xs:documentation>Nemotecnico emplazamiento, p.e.:
APOQ, SISA, SLUC...</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Cable" type="xs:string">
				<xs:annotation>
					<xs:documentation>Nombre del cable que alimenta el nodo, p.e. 1, 7</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Cabinet" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Nombre del armario asociado al nodo en caso de distribucion flexible, p.e. A2, A10...</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PairFrom" type="xs:string">
				<xs:annotation>
					<xs:documentation>Valor del par "desde"</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PairUntil" type="xs:string">
				<xs:annotation>
					<xs:documentation>Valor del par "hasta"</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PairOccupied" type="xs:string">
				<xs:annotation>
					<xs:documentation>Cantidad de pares ocupados</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PairVacant" type="xs:string">
				<xs:annotation>
					<xs:documentation>Cantidad de pares vacantes</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PairReserved" type="xs:string">
				<xs:annotation>
					<xs:documentation>Cantidad de pares reservados</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PairBad" type="xs:string">
				<xs:annotation>
					<xs:documentation>Cantidad de pares defectuosos</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GPSType">
		<xs:sequence>
			<xs:element name="Lat" type="xs:string">
				<xs:annotation>
					<xs:documentation>Latitud</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Lng" type="xs:string">
				<xs:annotation>
					<xs:documentation>Longitud</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ElementPlusType">
		<xs:sequence>
			<xs:element name="Id">
				<xs:annotation>
					<xs:documentation>Indentificador unico del elemento, uso interno</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Type" type="xs:string">
				<xs:annotation>
					<xs:documentation>Item solicitado: planta, par externo, armario, caja terminal, para local.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Value">
				<xs:annotation>
					<xs:documentation>Valor de elemento</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Gps" type="GPSType" minOccurs="0"/>
			<xs:element name="Picture" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EquipmentType">
		<xs:sequence>
			<xs:element name="Type" type="xs:string">
				<xs:annotation>
					<xs:documentation>Valores posibles:
AGREGADOR
DSLAM</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HostName" type="xs:string"/>
			<xs:element name="Ip" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
